<div class="hero">
  <br>
  <div class="transparent col-sm-10 col-sm-offset-6">
    <h1>Work out from anywhere</h1>
    <h2>Online fitness classes</h2>
  </div>
</div>

<br>
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <h3>Strength Training</h3>
    <br>
    <%= image_tag 'feature1.jpg', class: 'img-responsive' %><br>
    <p><b>Featured lesson</b>:<br> How to left weights while watching TV</p>
    <br>
  </div>

  <div class="col-sm-4">
    <h3>Self Defense</h3>
    <br>
    <%= image_tag 'feature2.jpg', class: 'img-responsive' %><br>
    <p><b>Featured lesson</b>:<br> How to taunt and insult your opponent</p>
    <br>
  </div>

  <div class="col-sm-4">
    <h3>Secret Office Workouts</h3>
    <br>
    <%= image_tag 'feature3.jpg', class: 'img-responsive' %><br>
    <p><b>Featured lesson</b>:<br> How to burn 1000 calories without your coworkers noticing</p>
    <br>
  </div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</div>