<br>
<div class="box col-xs-10 col-xs-offset-1">
  <h1><%= current_course.title %></h1>
  <div class="pull-right">
    <%= link_to 'Add a new section', new_instructor_course_section_path(current_course), class: 'btn btn-sunset pull-right' %>
    <br><br>
    <%= link_to 'Preview as student', course_path(current_course), class: 'btn btn-sunset pull-right' %>
  </div>
  <br>
  <ul>
    <% current_course.sections.each do |section| %>
      <li><%= section.title %>
      <%= link_to 'New Lesson', new_instructor_section_lesson_path(section), class: 'btn btn-sunset btn-xs' %>
      <ul>
        <% section.lessons.each do |lesson| %>
          <li><b><%= lesson.title %></b>
            <% if lesson.subtitle.present? %>
              - <%= lesson.subtitle %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <br class="clear">
    </li>
    <% end %>
  </ul>
</div>