<br>
<div class="box col-xs-10 col-xs-offset-1">
  <h1><%= @course.title %></h1>
    <% if @course.image.present? %>
      <%= image_tag @course.image, class: 'img-responsive' %>
    <% end %>
    <br>
    <div class="col-sm-4 col-xs-12 text-center">
      <span class="label label-default">
      <%= number_to_currency @course.cost %>
      </span>

      <% if current_user && current_user == @course.user %>
        <br><br>
        <%= link_to 'Administer', instructor_course_path(@course), class: 'btn btn-sunset' %>
      <% end %>
    </div>

    <div class="col-sm-8 col-xs-12">
      <%= @course.description %>
    </div>
    <br>

    <div class="col-xs-12">
      <% @course.sections.each do |section| %>
        <div class="section text-center">
          <h3><%= section.title %></h3>
          <br>
            <div class="flexbox">
              <% section.lessons.each do |lesson| %>
              <div class="lesson col-xs-12 col-sm-4">
                <%= link_to lesson_path(lesson) do %>
                <%= lesson.title %> <% end %>
                <% if lesson.subtitle.present? %>
                  <br><%= lesson.subtitle %><% end %>
              </div>
              <% end %> 
            </div>
        </div>
      <% end %>
    </div>

</div>